.footerFixed{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer{
  margin-top: auto;
  background: #1d1b3f;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}