.header {
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 75px;

  &__bar {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    float: left;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    & a {
      display: block;
      width: 74px;
      height: 74px;
      margin-left: 20px;
    }
  }
}

.study_nav {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center; 
  justify-content: space-around;
}

.user_nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
  justify-content: center;

  &__pre {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
}

.user_nav a span {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.user_nav span {

  &:after {
    content: '▼';
    font-size: .7em;
    margin-left: -4px;
  }
  &:hover ul {
    color: #57C3E9;
    display: block;
  }
}

.user_nav ul {
  display: none;
  position: absolute;
  top: 51px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.user__info {
  background-color: #f0f0f0;
}

.user__info a {
  display: block;
  padding: 13px 5px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  font-size: 14px;
  width: 95px;
}

.signin{
  margin-left: 18px;
}

