.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;

  &__bar {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
}

.header__bar .grid-6 {
  font-size: 20px;
  line-height: 41px;
}

.study_nav {
  display: flex;
  align-items: center;
  
}

.user_nav {
  display: flex;
  align-items: center;

}
.user_nav a {
  margin-right: 40px;
}

header.header .study_nav {
  position: relative;
  height: 100%;
  right: 0;
}

header.header .study_nav span {
  top: 12px;
  display: block;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

header.header .study_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

header.header .study_nav ul li {
  background-color: #f0f0f0;
}

header.header .study_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

header.header .study_nav ul {
  display: none;
  position: absolute;
  top: 30px;
  right: 51px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
