.profile {
  width: 100%;
  height: 200px;
  &__wrap {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.round-img {
  border-radius:50%;
  width: 100px;
  height: 100px;
  margin-right: 60px;
}

.profile_name {
  & h1 {
    font-size: 40px;
  }
}

.profile__edit__btn {
  height: 25px;
  width: 155px;
  padding: 0px 15px;
  margin: 0 !important;
  color: black !important;
  border-color: #dbdbdb;
  background-color: #d3dadc !important;
  font-size: 14px !important;
  border-radius: 5px !important;
}

.profile__config{
  display: flex;
  margin-left: 60px;
  align-items: center;
}

.config-img{
  height: 25px;
  margin-left: 10px;
}

.profile_edit_top {
  display: flex;
  height: 100px;
}

.edit_name {
  width: 50%;
}

.edit_img {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.field img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: double;
}
